


.grid {
    display: grid;
    /*fr = separar em frações*/
    grid-template-columns: 2fr 1fr;
    /*2 linhas*/
    grid-template-rows: 1fr 1fr;
    /*Espaçamento no grid */
    gap: 15px 10px; /*Aplica em todas*/
    column-gap: 10px;
    row-gap: 15px;
}

.grid > * {
    background-color: orange;
    border-radius: 5px;
    /* bd = Atalho em emmit */
    border: 1px solid rgb(145, 97, 9);
    padding: 5%;
}

header{
    grid-area: header;
}
footer {
    grid-area: footer;
}
section #produtos {
    grid-area: produtos;
}
section #servicos {
    grid-area: servicos;
}
nav{
    grid-area: nav;
}
aside{
    grid-area: publicidade;
}

#grade {
    display: grid;
    grid-template-areas: 
    "nav header header"
    "nav produtos publicidade"
    "nav servicos publicidade"
    "nav footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;

    /*Unidade de medida - Meta tag*/
    /* vh da largura da tela do usuário */
    height: 100vh;  /*Pega a tela inteira de cima a baixo--Equivale a 100%*/
    width: 100vh; /**/
}

#grade > *{
    border: 1px solid black;
}

.pai {
    display: grid;
    background-color: #fff;
    height: 500px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;

    grid-column-gap: 5px;
    grid-row-gap: 5px;

    justify-items: stretch;

    align-items: stretch;
    
    justify-content: center;

    justify-content: center;
    
    align-content: center;
}

/*Adicionando estilização nos elementos filho para melhor visualização das alterações que serão feitas usando o inspecionar*/
.pai > * {
    background-color: rgb(204, 29, 29);
    border: solid 1px black;
    width: auto;
    height: auto;
}